@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.card {
    height: auto;
    width: 30vw;
    position: relative;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

#holder {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#holder img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

#holder i {
    font-size: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;

    background-image: url(https://preview.colorkit.co/gradient/f9ce34-ee2a7b-6228d7.png?scale=0.25&static=true);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65, 1, .77, 1.44) 0.4s;
}

.card h1 {
    font-family: Gilroy;
}