* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    padding: 40px;
    display: flex;
}

#card {
    height: 32vh;
    width: 26vw;
    /* padding: 12px; */
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#card img {
    height: 100%;
    width: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content {
    height: 100%;
    width: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: space-around; */
}

.content h1 {
    font-size: 20px;
}

.content h2 {
    font-size: 14px;
    font-weight: 300;
}

.content h3 {
    font-size: 18px;
    font-weight: 600;
    color: green;
    margin-top: 4px;
}

.content p {
    font-size: 12px;
    margin-bottom: 10px;
}

.ratings span {
    font-size: 12px;
    font-weight: 500;
}

button {
    padding: 8px 2px;
    border-radius: 8px;
    border: none;
    margin-top: 4px;
}

#btn1 {
    background-color: green;
    color: white;
    font-weight: 500;
}

#btn2 {
    background-color: white;
    color: green;
    font-weight: 500;
    border: 1px solid green;
}

#btn1:hover {
    background: linear-gradient(to right, #04e857, #576f06);
    cursor: pointer;
}