@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 450px;
    padding: 30px;
    border-radius: 12px;
    background-color: #222;
}

.card p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Gilroy;
    /* background-color: crimson; */
    border: none;
    font-weight: 500;
}

.card p span {
    font-weight: 600;
    color: royalblue;
    text-decoration: underline;
}

.outer {
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: #333;
}

.inner {
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: #5c5dcb;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2 {
    font-family: Gilroy;
    font-size: 40px;
}


.bottom button {
    font-size: 18px;
    padding: 15px 20px;
    background-color: #5c5dcb;
    border-radius: 12px;
    border: none;
    font-family: Gilroy;
    font-weight: 600;
    cursor: pointer;
    /* position: relative;
    z-index: 9; */
}

.bottom button:active {
    scale: 0.95;
}